{%extends "layout.html"%}
{%block content%}
<div class="resultados">
    <div class="resultado1">
        <ul>
            <li>Equipos</li>
            <li>Amarillo</li>
            <li>Rojo</li>
            <li>Azul</li>
        </ul>
    </div>
    <div class="resultado2">
        <ul>
            <li>Victorias</li>
            <li>13</li>
            <li>13</li>
            <li>13</li>
        </ul>
    </div>
    <div class="resultado3">
        <ul>
            <li>Derrotas</li>
            <li>13</li>
            <li>13</li>
            <li>13</li>
        </ul>
    </div>
    <div class="resultado4">
        <ul>
            <li>Partidas Jugadas</li>
            <li>26</li>
            <li>26</li>
            <li>26</li>
        </ul>
    </div>
    <div class="resultado5">
        <ul>
            <li>Partidas Pendientes</li>
            <li>21</li>
            <li>25</li>
            <li>24</li>
        </ul>
    </div>
</div>
{%endblock%}