{%extends "layout.html"%}
{%block content%}
    <div class="equipos">
        <div class="equipo1">
            <ul>
                <h1>Amarillo</h1>
                <li>Jota</li>
                <li>SidevilSoyLaura</li>
                <li>EragonJinete</li>
                <li>Tlaloc</li>
                <li>gaston</li>
                <li>GLEO96</li>
                <li>GuskingXD18</li>
                <li>Polag3k</li>
                <li>Den_Slagen</li>
                <li>Andres_26</li>
                <li>AoE_Diego</li>
                <li>Chely Preciosa</li>
                <li>Creationz</li>
                <li>Videla</li>
                <li>kilua55</li>
            </ul>
        </div>
        <div class="equipo2">
            <ul>
                <h1>Rojo</h1>
                <li>Baan</li>
                <li>Churrely</li>
                <li>Vancouver</li>
                <li>Alejo456</li>
                <li>SQNET_T</li>
                <li>Nikki</li>
                <li>AnkaruZ</li>
                <li>Beta</li>
                <li>BestiaSalvaje</li>
                <li>Daniel1722</li>
                <li>Fenix</li>
                <li>H4des_</li>
                <li>Mess10_</li>
                <li>ORYS</li>
                <li>Paola Shen</li>
                <li>sisfrid</li>
                <li>Tody</li>
            </ul>
        </div>
        <div class="equipo3">
            <ul>
                <h1>Azul</h1>
                <li>Saravia</li>
                <li>Avalon</li>
                <li>tavopa</li>
                <li>DoxtorEze</li>
                <li>Guason</li>
                <li>josef2019</li>
                <li>Ookami</li>
                <li>Pulquencio</li>
                <li>ALDOZERA</li>
                <li>GuerreroMuisca</li>
                <li>andrew_aoc</li>
                <li>dubheblade</li>
                <li>Jessenia706</li>
                <li>Oxa</li>
                <li>Wall-E</li>
                <li>Will32</li>
                <li>iTosco</li>
            </ul>
        </div>
    </div>
{%endblock%}