{%extends "layout.html"%}
{%block content%}
    <div class="deg">
    </div>
    <div class="contenedor">
        <h1> Champion Color League </h1>
        <p>
            Presentamos la primera actividad oficial entre los tres poderosos 
            equipos del clan The Exile, la Liga de Colores. 
            En donde los miembros de los equipos se batirán a duelos 1v1 por 
            medio de encuentros aleatorios con jugadores rivales, buscando 
            representar a su color con cada victoria conseguida.
        </p>
        <h1>Modalidad</h1>
        <p>
            En esta primera edición, mantendremos los duelos en primer lugar 
            en Voobly, pero otorgando la opción de realizarlo en el D.E. si 
            ambos jugadores están de acuerdo. Los formatos de los duelos serán 
            al mejor de uno (BO1), mapa HC2_Arabia (Arabia estándar en D.E.) con 
            civilizaciones aleatorias. 
        </p>
        <h1>Reglas</h1>
        <p>
            En caso de presentarse un mapa con errores, o que un participante 
            encuentre bug, se puede apelar por repetición antes que alguno de 
            los jugadores llegue a la edad Feudal. En caso de desconexión de la 
            partida se debe de guardar y retomar hasta un máximo de 2 veces, 
            luego de esto. El jugador que siga conectado puede pedir la victoria 
            por desconexión. 
        </p>
        <h1>Resultados</h1>
        <p>
            Los resultados de las partidas DEBEN de ser publicados en el <a href="https://discord.gg/XQPUapK">Discord</a> 
            del Clan en el canal #resultados-liga por el ganador. En caso de no 
            estar publicado con el formato señalado a continuación, no se considerará
            el punto. <br>
            @Jugador1.Color vs @Jugador.Color <br>
            Ganador: @JugadorGanador.Color <br>

            Siendo Color :
            <ul>
                <li>A = Azul</li>
                <li>Am = Amarillo</li>
                <li>R = Rojo</li>
            </ul>
        </p>
    </div>
{%endblock%}